<p id="notice"><%= notice %></p>

<h1>Videos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Studio</th>
      <th>Released</th>
      <th>Status</th>
      <th>Versions</th>
      <th>Price</th>
      <th>Rating</th>
      <th>Year</th>
      <th>Genre</th>
      <th>Aspect</th>
      <th>Ups</th>
      <th>Release date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.title %></td>
        <td><%= video.studio %></td>
        <td><%= video.released %></td>
        <td><%= video.status %></td>
        <td><%= video.versions %></td>
        <td><%= video.price %></td>
        <td><%= video.rating %></td>
        <td><%= video.year %></td>
        <td><%= video.genre %></td>
        <td><%= video.aspect %></td>
        <td><%= video.ups %></td>
        <td><%= video.release_date %></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_video_path %>
